@{
    Layout = "~/Views/Client/_Layout_Client.cshtml";
}
@using HealthCare.BAL;
@using System.Data;
@model DataTable
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="callout-info">
    @{
        string fieldValue = Model.Rows[0][7].ToString();
    }
    <div class="callout-info">
        <div class="jumbotron alert alert-success">
            <h2> hey  <h1>@CV.UserName()</h1> Do You Want to Register As Patient of @fieldValue</h2>
            <p><a asp-area="Client" asp-route-DiseaseID="@Convert.ToInt32(Model.Rows[0][1])" asp-controller="Client" asp-action="Doctor" class="btn btn-primary btn-lg" role="button">Register</a></p>
        </div>
   </div>
    
</div>

<div class="row">
@foreach (DataRow dr in Model.Rows)
{
        
<div class="col-md-4 mb-5">
   
        <div class="d-flex justify-content-around">
            <div class="card card1" style={{ width: "18rem" }}>
                <img src="@Url.Content(dr["PhotoPath"].ToString())" style="height:120px;width:70px;position:center" />
                <hr/>
                <div class="card-body">
                    <h4>@dr["DeviceName"]</h4>
                    <h5 class="card-title">@dr["DeviceBrand"]</h5>
                    <br />
                    <h4>@dr["Price"]</h4>                  
                    <h4>@dr["Description"]</h4>
                         <form method="post" asp-area="Client" asp-controller="Client" asp-action="Cart">
                                <!--fisrt input tag int value will be pass-->
                                <input type="hidden" name="DeviceID" value="@Convert.ToInt32(dr["DeviceID"])" />
                                <button type="submit" class="btn btn-info">Add to cart</button>

                         </form>

                </div>
            </div>
        </div>
       </div>

    }
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>